{% extends "../base.html" %}
{% load staticfiles %}

{% block title %}修改密码{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <h4>修改密码</h4>
                <div class="progress">
                    <div class="determinate blue" style="width: 20%"></div>
                </div>
                <form class="row" id="change_password" action="" method="post">
                    <div class="input-field col s12">
                        <input name="newPassword" class="validate" id="newPassword" type="password">
                        <label for="newPassword">新密码</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="confirm" class="validate" id="confirm" type="password">
                        <label class="active" for="confirm">确认密码</label>
                    </div>
                    <p class="waves-effect waves-light btn" onclick="form_submit();" type="submit">
                        确认修改
                        <i class="material-icons right">send</i>
                    </p>
					{% csrf_token %}
                </form>
            </div>
        </div>
    </div>
 </section>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function(){
		//alert('document ready!');
		var state_success = '{{ state.success }}';
		var state_message = '{{ state.message }}';
		if(state_message != ''){
			//console.log(state_message);
			var toastHTML = '<span>' + state_message + '</span><button class="btn-flat toast-action">Undo</button>';
			console.log(toastHTML);
			Materialize.toast(toastHTML, 4000);
		}
	});
	function form_submit(){
		var newPassword = $('#newPassword').val();
		var confirm = $('#confirm').val();
		
		//检查密码是否大于等于6位、两次输入的密码是否相同
		var newPassword_len = strlen(newPassword);
		if(newPassword_len < 6){
			Materialize.toast('密码别太短，要至少6位(#`O′)', 4000);
			return;
		}
		if(newPassword != confirm){
			Materialize.toast('两次输入的密码不同啊.', 4000);
			return;
		}
		change_password.submit();
	};
	function IsNum(s)
	{
		if(s != null){
			var r, re;
			re = /\d*/i;
			r = s.match(re);
			return (r==s)?true:false;
		}
		return false;
	};
	function strlen(str){
		var len = 0;
		for (var i = 0; i < str.length;i++) { 
			var c = str.charCodeAt(i);  
			if ((c >= 0x0001 && c <= 0x007e) || (0xff60 <= c && c <= 0xff9f)) { 
				len++; 
			} else { 
				len += 2; 
			} 
		} 
		return len;
	};
</script>
{% endblock %}