{% extends "../base.html" %}
{% load staticfiles %}

{% block title %}{{ user.name }}的个人主页{% endblock %}

{% block content %}
<main>
	<div class="container" style = "padding: 100px 0 30px 0;">
		<div class="row">
			<div class="col s12 m4" style = "margin-top: 50px; display: flex; flex-direction: column;align-items: center;margin-top: 100px;">
				<img class="img-rounded profile-thumbnail" src="{{ face }}">
			</div>
			<div class="col s12 m4">
				<h3>{{ user.name }}</h3>
				{% if user.location %}
				<p>
					{% if user.location %}
						from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
					{% endif %}
				</p>
				{% endif %}
				{% if current_user_info.is_administrator %}
				<p>发邮件给他: <a href="mailto:{{ user.qq }}@qq.com">{{ user.qq }}</a></p>
				{% endif %}
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% include 'components/department.html' %}
				<p>
					{% include 'components/user_major.html' %}
				</p>
				<p>
					{% include 'components/user_class.html' %}
				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style = "padding: 0 0 50px 0;">
		<div class="row">
			<div class="col s12">
				<ul id="tabs-swipe-demo" class="tabs">
					<li class="tab col s3"><a class="active" href="#test-swipe-1">他发布的报名</a></li>
					<li class="tab col s3"><a href="#test-swipe-2">敬请期待</a></li>
					<li class="tab col s3"><a href="#test-swipe-3">敬请期待</a></li>
				</ul>
				<div id = "test-swipe-1">
					<div class="progress">
						<div class="determinate blue" style="width: 25%"></div>
					</div>
					{% for signup in infos %}
						{% include 'components/card.html' %}
					{% endfor %}
				</div>
				<div id = "test-swipe-2">
					<div class="progress">
						<div class="determinate blue" style="width: 50%"></div>
					</div>
				</div>
				<div id = "test-swipe-3">
					<div class="progress">
						<div class="determinate blue" style="width: 75%"></div>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red" alt = "edit-user-file">
			<i class="large material-icons">apps</i>
		</a>
		<ul>
			{% if user.studentId == current_user_info.studentId %}
			<li><a class="btn-floating red" disabled = "true"><i class="material-icons">share</i></a></li>
			<li><a class="btn-floating green" href = "{% url 'signUp_new' %}"><i class="material-icons">assignment</i></a></li>
			<li><a class="btn-floating blue" href = "{% url 'HYauth_edit' %}"><i class="material-icons">edit</i></a></li>
			{% endif %}
			{% if current_user_info.is_administrator %}
			<li><a class="btn-floating yellow darken-1" href = "{% url 'HYauth_edit_admin' user.studentId %}"><i class="material-icons">border_color</i></a></li>
			{% endif %}
		</ul>
	</div>
</main>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function(){
		$('.carousel.carousel-slider').carousel({full_width: true});
	});
</script>
{% endblock %}