<footer class="page-footer orange">
    <div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">弘毅学堂学生信息管理系统</h5>
				<p class="grey-text text-lighten-4">
					版权所有 © 武汉大学弘毅学堂学生会<br>
					联系方式 : hystudent@163.com<br>
					通信地址 : 湖北省武汉市武昌区八一路299号<br>
					技术问题请联系武汉大学弘毅学堂学生会网络技术部<br>
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">常用链接</h5>
				<ul>
					<li><a class="white-text" href="http://www.whu.edu.cn/">武汉大学</a></li>
					<li><a class="white-text" href="http://hyxt.whu.edu.cn/">武汉大学弘毅学堂</a></li>
					<li><a class="white-text" href="http://210.42.121.132/">武汉大学教务系统</a></li>
					<li><a class="white-text" href="http://ugs.whu.edu.cn/">武汉大学本科生院</a></li>
				</ul>
			</div>
		</div>
    </div>
    <div class="footer-copyright">
		<div class="container">
			<a class="white-text text-lighten-3" href="http://www.miitbeian.gov.cn/">鄂ICP备17030500号-1</a>
		</div>
    </div>
</footer>