{% load staticfiles %}
<nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
		<a id="logo-container" href="{% url 'main_index' %}" class="brand-logo" style = "height: 100%;">
			<!--<span>弘毅学堂</span>-->
			<img src = "{% static 'img/HY_logo.png' %}" style = "height: 100%;"/>
		</a>
		{% if user %}
		<ul class="right hide-on-med-and-down">
			<li>
				<a href = "{% url 'HYauth_user' user.studentId %}" style = "display:flex; flex-direction: row;align-items: center;">
					{% if small_face %}
					<img src = "{{ small_face }}"/>
					{% endif %}
					{{ user.name }}
				</a>
			</li>
			<li><a href = "{% url 'HYauth_logout' %}">登出</a></li>
			<li><a href = "https://github.com/fassial">About</a></li>
		</ul>
		<ul id="nav-mobile" class="side-nav">
			<li>
				<a href = "{% url 'HYauth_user' user.studentId %}" style = "display:flex; flex-direction: row;align-items: center;">
					{% if small_face %}
					<img src = "{{ small_face }}"/>
					{% endif %}
					{{ user.name }}
				</a>
			</li>
			<li><a href = "{% url 'HYauth_logout' %}">登出</a></li>
			<li><a href = "https://github.com/fassial">About</a></li>
		</ul>
		{% else %}
		<ul class="right hide-on-med-and-down">
			<li><a href = "{% url 'HYauth_login' %}">登录</a></li>
			<li><a href = "{% url 'HYauth_register' %}">注册</a></li>
			<li><a href = "https://github.com/fassial">About</a></li>
		</ul>
		<ul id="nav-mobile" class="side-nav">
			<li><a href = "{% url 'HYauth_login' %}">登录</a></li>
			<li><a href = "{% url 'HYauth_register' %}">注册</a></li>
			<li><a href = "https://github.com/fassial">About</a></li>
		</ul>
		{% endif %}
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>